lib/
share/
bin/
lib64
pyvenv.cfg
**/__pycache__/
src/alphazero_scaling/connect4-master/*
src/alphazero_scaling/elo/Bayesian_Elo/
plots/
alphazero_scaling_full/
7x6.book
src/config/paths.yaml
.vscode/
